<h1>Listing calendars</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @calendars.each do |calendar| %>
  <tr>
    <td><%= button_to 'Previous Month', { action: 'prev_month', year: @year, month: @month }, method: :get %>
    <td><%= calendar_for( @year, @month, :calendar_class => "my_calendar", :use_full_day_names => true)%></td>
    <td><%= link_to 'Show', calendar %></td>
    <td><%= link_to 'Edit', edit_calendar_path(calendar) %></td>
    <td><%= link_to 'Destroy', calendar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= button_to 'Next Month', { action: 'next_month', year: @year, month: @month }, method: :get %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Calendar', new_calendar_path %>

<br />
<br />

<%= 'What Did I do on (enter date to see your past workouts!)' %>
  <select month="Month[value]"> 
    <option value="1">01</option> 
    <option value="2">02</option>
    <option value="3">03</option>
    <option value="4">04</option> 
    <option value="5">05</option>
    <option value="6">06</option>
    <option value="7">07</option>
    <option value="8">08</option>
    <option value="9">09</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option> 
  </select>

  <select day="Day[value]"> 
    <option value="1">01</option> <option value="2">02</option> <option value="3">03</option>
    <option value="4">04</option> <option value="5">05</option> <option value="6">06</option>
    <option value="7">07</option> <option value="8">08</option> <option value="9">09</option>
    <option value="10">10</option> <option value="11">11</option> <option value="12">12</option> 
    <option value="13">13</option> <option value="14">14</option> <option value="15">15</option>
    <option value="16">16</option> <option value="17">17</option> <option value="18">18</option>
    <option value="19">19</option> <option value="20">20</option> <option value="21">21</option>
    <option value="22">22</option> <option value="23">23</option> <option value="24">24</option>  
    <option value="25">25</option> <option value="26">26</option> <option value="27">27</option>
    <option value="28">28</option> <option value="29">29</option> <option value="30">30</option>
    <option value="31">31</option> 
  </select>

  <select year="Year[value]"> 
    <option value="2000">2000</option> 
    <option value="2001">2001</option>
    <option value="2002">2002</option>
    <option value="2003">2003</option> 
    <option value="2004">2004</option>
    <option value="2005">2005</option>
    <option value="2006">2006</option>
    <option value="2007">2007</option>
    <option value="2008">2008</option>
    <option value="2009">2009</option>
    <option value="2010">2010</option>
    <option value="2011">2011</option> 
    <option value="2012">2012</option>
    <option value="2013">2013</option>
    <option value="2014">2014</option>
  </select>

<%= '?' %>

<%= button_to 'Search!'%>
